spring:
  application:
    name: pos-dashboard-api

  datasource:
    url: jdbc:postgresql://localhost:5432/pos_dashboard_db
    username: postgres
    password: sandy207

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8080

jwt:
  secret: pos-dashboard-super-secret
  expiration: 86400000